.hidden {
    display: none !important;
}


.sesion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6dvh 12dvw;
    gap: 1.5rem;
}


.form-container {
    text-align: center;
    margin-top: 2rem;
}

.form-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50dvh;
}

.form-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-white);
    padding: 0.75rem 1rem;
    border-radius: 20px;
    border: 1px solid rgb(216, 216, 216);
    width: 100%;
    margin-bottom: 1.5rem;
}

.form-container input,
textarea {
    border: none;
    color: var(--color-brown);
    outline: none;
    padding: 0.25rem;
    margin-left: 10px;
    width: 100%;
    font-family: var(--font);
}

.form-container button {
    color: white;
    background-color: var(--color-pink);
    padding: 1rem 3rem;
    transition: transform 0.5s ease;
    margin-bottom: 1.5rem;
}

.form-container button:hover {
    transform: scale(1.1);
}


.terms-content input {
    width: max-content;
    margin-right: 0.75rem;
}

.form-container .terms-content {
    border: 1px solid rgb(255, 255, 255);
    padding: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background-color: white;
    padding: 3rem;
    border-radius: 1.5rem;
}

.modal-content p {
    font-size: 1.25rem;
    font-weight: bolder;
}

.error-msg {
    color: rgb(145, 8, 35);
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    text-align: left;
    width: 100%;
}

.modal {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.modal.active {
  opacity: 1;
}
