.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 250px;
  transition: transform 0.3s ease;
}

.product-card__image {
  position: relative;
  transition: transform 0.3s ease;
}

.product-card__image:hover {
  transform: scale(1.05);
}

.product-card__image img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.1));
}

.product-card__label {
  position: absolute;
  top: 20px;
  left: 25px;
  background-color: var(--color-green);
  padding: 2px 14px;
  border-radius: 14px;
  font-weight: bolder;
  color: white;
  font-size: 16px;
  z-index: 10;
}

.product-card__dscto{
    position: absolute;
  top: 20px;
  left: 25px;
  background-color: var(--color-pink);
  padding: 2px 14px;
  border-radius: 14px;
  font-weight: bolder;
  color: white;
  font-size: 16px;
  z-index: 10;
}


.product-card__description {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0.5rem;
}

.product-card__title {
  font-size: 20px;
  color: var(--color-pink);
}

.product-card__title a:hover {
  text-decoration: underline;
}

.product-card__text {
  font-size: 14px;
}

.product-card__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-card i {
  color: var(--color-pink);
}

.product-card i:hover {
  transform: scale(1.4);
  transition: transform 0.5s ease;
}

.product-card__btn--cart {
  cursor: pointer;
}

.product-card__prices {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.product-card__price--old {
  color: gray;
  text-decoration: line-through;
}

.product-card__price--current {
  font-weight: 800;
}