.banner {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.banner img {
  width: 100%;
  height: auto 40dvh;
  object-fit: cover;
  object-position: bottom;
  display: block;
}

h2{
  margin-top: 50px;
}

/*SALE*/

.sale_products {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 5rem;
}


@media (max-width: 767px) {
  .categories_type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categ_products {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
}
