.banner {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.banner img {
  width: 100%;
  height: auto 40dvh;
  object-fit: cover;
  object-position: bottom;
  display: block;
}

.offers_container {
  width: 100%;
  overflow: hidden;
  background-color: var(--color-pinkLight);
  padding: 0.75rem 0;
  position: relative;
}

.offers_text {
  display: flex;
  width: max-content;
  font-size: 1.2rem;
  animation: desp 30s linear infinite;
  gap: 3rem;
}

.offers_text span {
  white-space: nowrap;
  display: inline-block;
  text-align: center;
}

@keyframes desp {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*DESCUENTO*/

.banner-content {
  width: 100%;
}

.banner-content img {
  width: 100%;
}

/*FAVORITOS*/
.favorites {
  padding: 4rem 8rem;
}

.favorites h2 {
  text-transform: uppercase;
}

.fav_product {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 5rem;
}

/*CATEGORIAS*/

.categories {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.categories h2 {
  text-transform: uppercase;
}

.categories_type {
  display: flex;
  flex-direction: row;
  justify-content: center;
 
  /* gap: 1rem; */
}

.categ_products {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.categ_products img {
  height: 60dvh;
  max-width: 100%;
  display: block;
  transition: transform 0.3s ease;
  /*  border: 1px solid white; */
  /* border-radius: 20px; */
}
/* .categ_products img:hover {
  transform: scale(1.05);
} */

.cat_button {
  position: absolute;
  text-transform: uppercase;
  top: 80%;
  padding: 0.5rem 2rem;
  background-color: var(--color-white);
  font-size: 1rem;
  font-weight: 800;
  z-index: 1;
  width: 200px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cat_button:hover {
  background-color: var(--color-pinkLight);
  transform: scale(1.05);
}

h2 {
  margin: 50px;
}

html {
    scroll-behavior: smooth;
}

/* FILTROS */

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 9rem;
  align-items: end;
}
.filter-types {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-types__content{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.filter-right{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 2rem;
}

.filter-clear{
  background-color: var(--color-pinkLight);
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  font-size: 0.85rem;
  font-weight: bold;
}

.filters label{
  margin-right: 0.5rem;
}

.filters select {
  width: 200px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-gray);
  border-radius: 1rem;
  outline: none;
  background-color: transparent;
}
.filters option {
  background-color: white;
}

.banner-content{
  padding: 2rem 9rem;
}


/*TIENDA*/

.store-products {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 5rem;
}

@media (max-width: 767px) {
  .categories_type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categ_products {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
}
